<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="网络工具箱"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher">
    </application>
</manifest>
